*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('https://img.wallpapersafari.com/desktop/1536/864/17/82/9b1Im0.jpg') ;
    background-repeat: no-repeat;
    background-attachment:fixed;
}


/* ------- nav ---------- */


nav {

 background-color: rgba(255, 0, 0, 0.218);
 width: 40%;
 margin-top:70px ;
 







}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction :row ;
    gap: 20px;
    height: 40px;
}


nav li {
    list-style: none;
}

nav ul a {
    text-decoration: none;
}


.ul1{
   border-bottom: 5px solid red     ;
}



img {
    width : 350px ; 
    height: 150px;
}




/* -------fin nav ------- */



/* --------categorie-------- */
.categorie{
    display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   margin-top : 200px;
   flex-wrap: wrap;
   width: 90%;
   gap: 80px;
}


.categorieElements{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.categorie img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.formulaire {
    display: flex;
    align-items: center ;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border: 1px solid;
}

.chmpsImage input {
    width: 100%;
}
.chmpsNom input {
     width: 100%;
}

/* --------fin categorie-------- */

/* ------------lieu--------------------- */

.containersalle{
    display: flex;
    align-items: center;
    justify-content: center;
}
.elemantsSalle img{
    width: 150px;
    height: 150px;
}

/* ------------fin lieu--------------------- */

