* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #F6F9FC;


}







/* ------- nav ---------- */


.elementsNav {
    display: flex;
    flex-direction: row;
    width: 80%;
    text-align: center;
    justify-content: space-between;
    margin-top: 150px;




}
.logo {
    display: flex;
    justify-content: flex-start;
}
.Logo img {
    width: 35%;
    position: absolute;
    z-index: 1;
    left: -79px;
    top: -182px;
    z-index: -1;
}



nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 70px;
    list-style: none;


}





nav li {
    color: #092C4C;
    font-family: 'Martian Mono', monospace;
    font-size: 24px;

    font-weight: 300;
}

.search li {


    color: #092C4C;
    font-family: 'Martian Mono', monospace;
    font-size: 24px;

    font-weight: 300;
    list-style: none;

}

.search {
    display: flex;
    gap: 10px;
    flex-direction: row;


}

.search a {
    text-decoration: none;
}

nav ul a {
    text-decoration: none;
}






/* -------fin nav ------- */



/* --------categorie-------- */

.containerCategorie {
    max-width: 100%;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #D6E0E7;




}


.espaceCategorie {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
    gap: 20px;
}

.categorie {
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;


}



.categorieElements {
    display: flex;
    flex-wrap: wrap;

    flex-direction: column;
    gap: 60px;
    position: relative;
    overflow: hidden;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 20px;


}


.categorie img {
    height: 350px;
    opacity: 10%;
    transition: 2s;


}

.categorie img:hover {
    opacity: 80%;
    transition: 1s;

}

.buttonsCategorie {
    display: flex;
    gap: 10px;
}

.categorieElements h1 {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: #fff;
    text-transform: capitalize;




}





.formulaire-categorie {
    margin: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.formulaire-categorie h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.formulaire-categorie label {
    font-size: 18px;
    margin-bottom: 10px;
}

.formulaire-categorie input[type="text"],
.formulaire-categorie input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.formulaire-categorie input[type="file"] {
    cursor: pointer;
}

.formulaire-categorie input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.formulaire-categorie input[type="submit"]:hover {
    background-color: #3e8e41;
}


#categorie_submit:hover {
    background-color: #092C4C;
    transition: 0.5s;
}

#categorie_submit {
    background-color: black;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 70px;

}

.formulaire-categorie span {
    text-align: center;
}

/* --------fin categorie-------- */




/*-----------------footer---------------*/

footer {
    background-color: #092C4C;
    padding: 3em 4em 2em;
    width: 100%;
    height: auto;
    border-top: 5px solid;


}

footer .logo {
    color: #fff;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
}

footer .row {
    margin: 2em 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    position: relative;
    border-bottom: 1px solid #cecece;
}

.footer-toggle {
    display: none;
}

.link-cat {
    cursor: pointer;
}

footer ul {
    padding: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

footer ul li {
    list-style-type: none;
    padding: 0;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    line-height: 2;
}

footer .footer-cat,
#newsletter span {
    font-size: 20px;
}

.footer-cat-links a {
    color: #cecece;
    text-decoration: none;
    position: relative;
}

.footer-cat-links.active>li a {
    pointer-events: auto;
}

.footer-cat-links a:after {
    top: 21px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    width: 0;
    background: #fff;

    -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.footer-cat-links a:hover:after,
.footer-cat-links a:focus:after {
    width: 100%;
    left: 0;
}

/* footer #subscribe {
    margin: 20px 0px 30px;
}

input#subscriber-email {
    outline: none;
    padding: 8px;
    background: #212121;
    border: 1px solid #cecece;
    color: #cecece;
    border-radius: 4px 0px 0px 4px;
}

input#subscriber-email::-webkit-input-placeholder {
    color: rgb(202, 196, 196);
}

input#subscriber-email:-ms-input-placeholder {
    color: #cecece;
}

input#subscriber-email::-ms-input-placeholder {
    color: #cecece;
}

input#subscriber-email::placeholder {
    color: #cecece;
} */

.col-3 {
    display: inline-table;
    width: 37%;
}

.col-3#newsletter {
    width: 24%
}

.col-3#newsletter #btn-scribe {
    margin-left: -4px;
    border: 1px solid #cecece;
    border-radius: 0px 4px 4px 0;
    padding: 8px 5px;
    background-color: #e2e2e2;
    color: #212121;
    cursor: pointer;
}

.social-2 {
    display: none;
}

.social-links {
    bottom: 44px;
    position: absolute;
    left: 0;
}

.social-links a {
    color: #fff;
    font-size: 20px;
    border: 1px solid;
    border-radius: 20px;
    padding: 6px;

    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.social-links a:not(:last-child) {
    margin-right: 10px;
}

.social-links a:hover,
.social-links a:focus {
    background-color: #212121;
}

.social-links a i {
    width: 25px;
    height: 25px;
    text-align: center;
}

#newsletter #address li:not(:first-child) {
    padding: 20px 0;
}

#newsletter #address li i {
    font-size: 45px;
    width: auto;
    padding: 5px;
}

#newsletter #address li div {
    color: #cecece;
    font-size: 14px;
    width: 80%;
    text-align: left;
    float: right;
    line-height: 1.3;
}

#copyright {
    text-align: center;
    color: #fff;
    font-family: lato;
}

#owner {
    text-align: center;
    padding: 20px 0 0px;
    color: #fff;
    font-family: lato;
}

#owner a {
    color: #fff;
}

/*-----------------fin footer---------------*/


/* -------------formulaire organiser-----------  */


.PageOganiser {
    display: flex;
    background-color: #092c4c;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    margin-top: 50px;

}

.textExplique {
    display: flex;
    padding: 50px;
    width: 40%;
    font-size: 20px;
    color: #D6E0E7;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;


}

.formulaireOrganiser {
    display: flex;
    width: 100%;
    gap: 20px;
    flex-direction: row;
    padding: 20px;


}



.formSection {
    display: flex;
    width: 60%;
    align-items: center;
    flex-direction: column;
}

.formulaireOrganiser .titre {

    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #FF8083;
    padding: 40px 0px 20px 0px;


}

.champsFormumlaireOrganiser {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #F6F9FC;



}

.champsFormumlaireOrganiser div label {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}




#evenement_description {
    width: 100%;
    height: 200px;
    padding: 20px;
    border-radius: 20px;
    resize: none;
    word-wrap: break-word;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;


}

input {
    width: 100%;
    height: 50px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

#evenement_categorie {
    width: 100%;
    border: 1px solid;
    height: 50px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}


#evenement_submit {
    background-color: black;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 70px;

}

.evenement_image {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;

}



#evenement_submit:hover {
    background-color: #092C4C;
    transition: 0.5s;
}

.champsFormumlaireOrganiser .button {
    display: flex;
    justify-content: center;

}




/* fin formulaire organiser */




/* la page evenementParCategorie  */


.containerPageEvenements {
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: #F6F9FC;
}





.containerPageEvenements h1 {
    color: #092C4C;
    margin-top: 50px;
    font-size: 36px;
}





.evenementsListes {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    margin: 20px;
    padding: 20px;

}

.evenementsListes h3 a {
    background-color: #092C4C;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.evenementsListes img {
    width: 180px;

}

.evenementsListes a i {
    color: wheat;
}

.evenementCarte {
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    background-color: #1C85E8;
    gap: 20px;
    border: 1px #1C85E8;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}


/* fin la page evenementParCategorie  */




/*------------------- slider----------------- */

.containerSlider {
    width: 100%;
    height: 78vh;
    display: flex;
    position: relative;
    justify-content: flex-start;






}

.imagesSlide {
    width: 90%;

    overflow: hidden;



}


.slider {
    display: flex;
    transition: transform 0.3s ease-in-out;
    margin-left: 0;


}

.slide {
    flex: 0 0 100%;
    height: auto;

}

.active {
    height: fit-content;

}


.slide img {
    width: 70%;
    height: 67vh;
    border-radius: 50px;
    padding: 20px;
    display: block;
    margin: 0 auto;
    filter: brightness(45%);
    object-fit: cover;



}

.slide img:hover {
    filter: none;
    transition: 3s;

}

.sliderButtons {
    bottom: 50px;
    left: 40%;
    position: absolute;
    z-index: 2;
}

.sliderButtons button {
    background-color: #1c110abd;
    color: white;
    border: none;
    padding: 8px 16px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;

}

.sliderButtons button:hover {
    background-color: #e07d406e;
}


.containerInfoEvenement {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 400px;
    left: 280px;
    gap: 20px;
    width: 40%;


}

.containerInfoEvenement .nomEvenement {
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #F6F9FC;

}

.containerInfoEvenement .dateEvenementSlide {

    color: #F6F9FC;
    font-family: 'Martian Mono', monospace;
    font-size: 24px;
    font-weight: 300;
}

.containerInfoEvenement .descriptionEvenementSlide1 {
    font-size: 16px;
    color: #F6F9FC;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    width: 140%;


}

.text1 {
    background-color: #092C4C;
    width: 225px;
    height: 320px;
    position: absolute;
    right: 180px;
    top: 90px;
    border-radius: 40px;



}

.text1 span {
    position: absolute;
    top: 90px;
    padding: 5px;
    left: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #F6F9FC;
}

.text1 .elementText1 {
    position: absolute;
    top: 170px;
    padding: 5px;
    left: 18px;

}

.elementText1 {
    display: flex;
    flex-direction: row;
}

.elementText1 li {
    font-size: 18px;
    font-family: Martian Mono SemiExpanded;
    ;
    list-style: none;


}

.elementText1 i {
    color: #F6F9FC;
    font-size: 18px;
    padding: 1px;
}

.elementText1 a {
    /* text-decoration: none; */
    color: #F6F9FC;
}









/*-------------------fin slider----------------- */



/*------------------- slider2----------------- */



.sectionPageAccueil {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100%;
    flex-direction: column;


}

#video2 {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    border-radius: 5px;


}

.sectionPageAccueil h1 {
    margin: 40px;
    color: #092C4C;
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
}

.containerSlide2 {
    width: 90%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;





}

.containerElementSlide2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    overflow-x: scroll;
    width: 100%;
    border-radius: 10px;
    padding: 30px;
    scroll-snap-type: x mandatory;
}



.slide2 {
    flex-shrink: 0; /* Empêche le rétrécissement de la diapositive */
    width: 309px;
    height: 400px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    scroll-snap-align: start;
    transition: 1s;
  
}
.slide2:hover {

  transform: scale(1.05);
  transition: 0.5s;
}



.slide2 img {
    object-fit: cover;
    width: 100%;
    height: 100%;

}




.infoSlider2 {
    width: 100%;
    position: absolute;
    text-align: center;

}

.infoSlider2 a {
    text-decoration: none;
}

.infoSlider2 .nomEvenement {
    color: #F4F4F4;
    text-transform: uppercase;
    padding: 2%;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-shadow:1px 1px 2px black;
}

.infoSlider2 .dateEvenementSlide {
    font-size: 24px;
    color: #F6F9FC;
    background-color: #0000007e;
    filter: blur(80%);
    padding: 5px;
    font-weight: 300;
    font-family: 'Martian Mono', monospace;


}



.containerElementSlide2::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.containerElementSlide2::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0.25rem;
}

.containerElementSlide2::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.containerElementSlide2::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
}









/*-------------------fin slider2----------------- */












/* ------------lieu--------------------- */

.containerPageLieu {
    display: flex;
    width: 70%;
    height: auto;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin: 50px;
}

.containerElementsLieu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;
}




.buttonsLieu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
}


.textEtImage {
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 50%;

}

.containerElementsLieu img {

    width: 400px;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
}

.textEtImage img {
    width: 500px;
    height: 68vh;
    object-fit: cover;
    border-radius: 5px;
}



.infoLieu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.infoLieu :first-child {
    font-size: 48px;
    color: #092C4C;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.infoLieu .villeEtAdress {
    font-size: 36px;
    font-family: 'Martian Mono', monospace;
    font-weight: 900;
    color: #1C85E8;
}

.infoLieu .capacity {
    font-size: 36px;
    font-family: 'Martian Mono', monospace;
    color: #FF8083;

}

.description {
    color: #092C4C;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

}


.evenementsPasseesLieu {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px;



}

.evenementsPasseesLieu img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    display: block;

}

.titreEvenementPasses {
    font-size: 36px;
    color: #092C4C;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}




#lieu_submit:hover {
    background-color: #092C4C;
    transition: 0.5s;
}

#lieu_submit {
    background-color: black;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 70px;

}



/* ------------fin lieu--------------------- */




/*---------------------details evenement--------------------*/



.containerEelmentsDetails {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 50px;
    position: relative;

}

#video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    /* border-radius: 20px; */
    filter: hue-rotate(-350deg);
    mix-blend-mode: difference;
    border-radius: 5px;
}

.containerEelments {
    width: 80%;
    display: flex;
    overflow: hidden;
    margin-top: 50px;
    justify-content: center;

}

.imagesEtButtons {
    height: 60vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.imagesEtButtons a {
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    font-weight: 700 ;
    color: #fff;
}
.containerEelments img {
    height: 70vh;
    width: 100%;
    object-fit: fill;
    border-radius: 5px;



}

.discreption img {

    width: 50%;
    height: 50vh;
    border-radius: 5px;



}
.discreption a strong {
    color: wheat;
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.discreption {

    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    width: 50%;
    height: auto;
    color: #fff;
    display: flex;
    gap: 5px;
    flex-direction: column;
    padding: 18px;
    border-radius: 5px;
    margin: 30px;
    background-color: #d6e0e700;
    backdrop-filter: blur(40px);
    align-items: center;


}

.discreption h1 {
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900px;
    text-transform: uppercase;
    color: #fff;
}


.dateEvenements {
    font-size: 24px;
    background-color: #092C4C;
    color: #fff;
    font-family: 'Martian Mono', monospace;
    font-weight: 300;
    padding: 5px;
    width: 100%;
}

.descriptionPageDetails {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 40px;
}

.espaceCommentaire {
    display: flex;
    width: 50%;
    flex-direction: column;




}

.espaceCommentaire strong {
    display: flex;

    justify-content: center;
    margin: 20px 0 20px 0;
}

.commentaires {
    background-color: #D6E0E7;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;

}

.commentaires .commentaire {
    padding: 10px;
    word-wrap: break-word;
    width: 80%;
    height: auto;


}


.cmmentaireEtSupprimer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #F4F4F4;
    border-radius: 10px;

}

.cmmentaireEtSupprimer a {
    padding: 10px;
}

.cmmentaireEtSupprimer a i {
    color: #8092A4;
}

.ecrireUnCommentaire {
    display: flex;
    justify-content: center;
}

.ecrireUnCommentaire {
    /* background-color: #f1f1f1; */
    padding: 20px;
    border-radius: 10px;
}

.ecrireUnCommentaire textarea {
    width: 50vw;
    height: 100px;
    resize: none;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
}



#commentaire_submit {
    background-color: black;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 70px;

}

#commentaire_submit:hover {
    background-color: #092C4C;
    transition: 0.5s;
}

.ecrireUnCommentaire span {
    text-align: end;
    margin: 20px;
}


/*---------------------fin details evenement--------------------*/




/* //////////// page organisateur ///////////////// */


.containerProfile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    flex-direction: column;
    height: 100vh;
    gap: 50px;
}

.profile {
    width: 60%;
    height: 150px;
    background-color: #092C4C;
    border-radius: 20px;

}

.evenementProfile {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    background-color: #D6E0E7;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    height: auto;
    padding: 20px;





}

.nomEvenementProfile {
    position: absolute;
    left: 50px;
    top: 10px;
    color: #fff;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;


}

.evenementProfile img {

    width: 220px;
    height: 280px;
    object-fit: cover;

}

.elementsEvenementProfile {
    display: flex;
    position: relative;


}



/* ////////////fin page organisateur ///////////////// */



/* /////////////////tableau participant/////////////////////////// */

.tableParticipants {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tableParticipants table {
    width: 50%;
    margin-bottom: 50px;
    background-color: #D6E0E7;
    border-radius: 10px;
}

.tableParticipants table tr {
    text-align: center;


}


.tableParticipants table th {
    font-size: 24px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;

}

.tableParticipants td {

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    padding: 20px;
}



/* /////////////////fin tableau participant/////////////////////////// */





/* ////////////////// Admin /////////////////////////// */

.containerPageAdmin {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;


}

.containerPageAdmin table {
    width: 90%;
    padding: 30px;
    background-color: #D6E0E7;

}

.containerPageAdmin table tr .descriptionTablePageAdmin {
    width: 50%;
    font-size: 12px;
    text-align: left;

}


.containerPageAdmin table tr th {
    width: 13%;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    border-bottom: 3px solid;
    color: #092C4C;
    padding-left: 5px;

}

.containerPageAdmin table tr td {
    width: 13%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border-bottom: 3px solid;
    font-size: 16px;
    color: #546477;
    text-align: center;


}

.containerPageAdmin table tr td img {
    width: 150px;
    border-radius: 5px;
}

.containerPageAdmin table tr .iconRefuse i {

    font-size: 24px;
    color: red;
}

.containerPageAdmin table tr .iconValide i {

    font-size: 24px;
    color: rgb(27, 219, 27);
}




/* //////////////////fin Admin /////////////////////////// */



/* /////////////page politique/////////////////// */



.containerPagePolitique {
    width: 70%;
    min-height: 100vh;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

/* /////////////fin page politique/////////////////// */



/* /////////////formulaire connection/////////////////// */

.formulaireConncextion {

    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;


}


.formulaireConncextion form {
    width: 30%;
    height: 50vh;
    padding: 20px;
    /* background-color:#092c4cef; */
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;



}


.halfImage {
    position: absolute;
    width: 30%;
    height: 45%;
    z-index: -1;
    background-color: #092C4C;
    border-radius: 5px;
    padding: 5px;


}


.formulaireConncextion h1 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: white;




}

.formulaireConncextion label {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500px;


}


.formulaireConncextion form .btn-primary {
    width: 120px;
    padding: 8px;
    border-radius: 5px;
    background-color: #1C85E8;
    color: white;
    transition: 1s;
    text-transform: uppercase;



}

.formulaireConncextion form .btn-primary:hover {
    background-color: #092C4C;
    transition: 1s;


}

.buttonsFormulaireConnextion a {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500px;
    color: white;

}

.buttonsFormulaireConnextion {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

/* /////////////fin formulaire connection/////////////////// */


/* /////////////formulaire connection/////////////////// */

.containerPageInscription {

    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.formulaireInscription h1 {
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500px;
    color: white;
    text-align: center;

}

.formulaireInscription {
    width: 30%;
    height: 65vh;
    padding: 20px;
    /* background-color:#092c4cac ; */
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;

}

.halfImageInscription {
    position: absolute;
    width: 30%;
    height: 65%;
    z-index: -1;
    border-radius: 5px;
    background-color: #092C4C;
    /* background-color: #092C4C; */
    padding: 5px;


}

.formulaireInscription label {
    color: white;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500px;
}

.formulaireInscription .btn {
    width: 120px;
    padding: 8px;
    border-radius: 5px;
    background-color: #1C85E8;
    color: white;
    transition: 1s;
    text-transform: uppercase;
}
.formulaireInscription .btn:hover {
    background-color: #092C4C;
    transition: 1s;


}
#registration_form_agreeTerms {
    width: 100%;
    height: 25px;
    text-align: center;
}


.buttonConnection {
    background-color:#1C85E8;
    padding: 9px 15px 9px 15px;
    border-radius: 50px;
    
}

.buttonConnection a li {
    
    color:#fff;

}
/* /////////////fin formulaire connection/////////////////// */





/* RESPONSIVE */
@media screen and (max-width:320px){
    body {
        width: 100%;


    }
    .containerSlider{
        height: 45vh;
        width: 100%;
        display: flex;
       
        justify-content: center;
        
    }
    
    .slide img {
        width: 100%;
        height: 40vh;
        border-radius: 25px;
     
    }
    .search{
        display: none;
    }

   
    .containerInfoEvenement{
        display: none;
    }
    .text1 {
        display: none;
    }
    .sliderButtons{
        bottom: 0px;
        left: 33%;
    }
    .elementsNav {
        width: 50%;
        justify-content: center;
        margin-top: 120px;
    }
    nav ul {
        gap: 18px;
    }
    nav ul li {
        background-color:#1C85E8;
        color: rgb(52, 3, 3);
        padding: 5px;
        border-radius: 5px;
        font-size: 18px;
    }
   

    .Logo img {
        width: 100%;
        left: -66px;
        top: -82px;
       
    }
    footer {
        background-color: #092C4C;
        /* padding: 3em 4em 2em; */
        padding: 17px;
        width: 100%;
        height: auto;
        border-top: 5px solid;
    }

    .social-links {
        bottom: 43px;
        left: -8px;
    }
    footer .logo {
      
        margin-bottom: 18px;
    }
    .col-3 {
        display: inline-table;
        width: 49%;
        
    }
    footer .footer-cat, #newsletter span {
        font-size: 18px;
    }
    .footer-cat-links a{
        font-size: 10px;
    }
    #address{
        display: none;
    }
    .infoSlider2 .nomEvenement {
        font-size: 24px;
    }

    .categorieElements h1 {
        font-size: 12px;
        text-shadow: 1px 1px 1px  black;
    }

    .categorieElements  {
        border-radius: 10px;
    }
    .categorie img {
        height: 150px;
    }
    #video2{
        display: none;
    }
    .sectionPageAccueil h1 {
       margin: 0;
        font-size: 26px;
       
    }
    .containerSlide2{
        width: 100%;
    }

    .sliderButtons button {
      
        margin: 5px;
        font-size: 14px;
     
}

/*FIN RESPONSIVE */

