{% extends 'base.html.twig' %}

{% block title %}Hello LieuController!{% endblock %}

{% block body %}


<div class="containerFormulaireLieu">

    <h1>Ajouter/Modifier une salle</h1>
    {{ form_start(formAddSalle) }}
    <div class="formulaireLieu">
        {{ form (formAddSalle) }}
    </div>
    {{ form_end(formAddSalle) }}




{% endblock %}