{% extends 'base.html.twig' %}

{% block title %}Hello ApiController!{% endblock %}

{% block stylesheets %}
<style>
    #Calendrier {
        width: 80%;
        margin:auto;
       
    }
</style>
{% endblock %}


{% block body %}


<div id="Calendrier">
    
</div>
{% endblock %}

{% block javascripts %}
    <script>
        window.onload = () => {
            let CalendarElt = document.querySelector('#Calendrier')
            let Calendar = new FullCalendar.Calendar(CalendarElt,{
                    initialView:'timeGridWeek',
                    locale :'fr',
                    timeZone : 'Eroupe/paris',
                    headerToolbar : {
                        start : 'prev,next today',
                        centre :'title',
                        end :'dayGridMonth,timeGridWeek',
                       
                    },
                    events : {{ data|json_encode|raw}}
                       
        })
        

            Calendar.render();
        } 
    </script>
{% endblock javascripts %}