    {% extends 'base.html.twig' %}

    {% block title %}Hello ApiController!{% endblock %}

    {% block javascripts %}
    
 

    {% endblock javascripts %}
    {% block stylesheets %}
    <style>
        #Calendrier {
            width: 80%;
            margin: auto;

        }
    </style>
    {% endblock %}



    {% block body %}
   {# {{ dump(events) }} #}
   
    <div id="Calendrier">

    </div>

    <script>
    
        window.onload = () => {
            let CalendarElt = document.querySelector('#Calendrier')
            let data = JSON.parse('{{ data|raw }}');
            let Calendar = new FullCalendar.Calendar(CalendarElt, {
                initialView: 'timeGridWeek',
                locale: 'fr',
                timeZone: 'Eroupe/paris',
                headerToolbar: {
                    start: 'prev,next today',
                    center: 'title',
                    end: 'dayGridMonth,timeGridWeek',
                  

                },    
                events : data
                
            })
           
         
        Calendar.render();
       console.log(data)
        }
      
    </script>

    {% endblock %}