{% extends 'base.html.twig' %}

{% block title %}Hello EvenementController!{% endblock %}


{% block body %}


<div class="containerPagePolitique">
    <h1>Politique de confidentialité</h1>
    <p>Cette page est consacrée à la Politique de Protection de la Vie Privée. Elle vous permet d’en savoir plus sur
        l’origine et l’usage des informations de navigation traitées à l’occasion de votre accès à notre site internet.
        Lors de l’affichage du site, des informations relatives à la navigation (ordinateur, tablette, smartphone, etc.)
        sont susceptibles d’être enregistrées dans des fichiers « Cookies » installés sur votre terminal, sous réserve
        des choix que vous avez exprimés concernant les Cookies. Lors de votre première visite sur notre site, un
        bandeau d’information s’affiche pour vous informer de l’utilisation de cookies sur le site et des modalités pour
        vous y opposer.</p>
    <p> HARMONY porte une attention toute particulière à la protection des données personnelles de ses clients. Dès
        lors, nous nous engageons à respecter la loi n° 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers
        et aux libertés, modifiée par le Règlement européen 2016/679 du 27 avril 2016 relatif à la protection des
        données personnelles. </p>
    <p> HARMONY contrôle les données personnelles que vous nous communiquez et est responsable de vos données
        personnelles conformément à la loi sur la protection des données en vigueur.</p>

       <h1> QU'EST-CE QU'UN CERTIFICAT SSL ?</h1>
<p>Le site utilise un certificat SSL. Il est symbolisé par le cadenas présent sur la barre d’adresse. Ce dernier vous garantit que les informations transmises entre votre navigateur et notre site sont sécurisées. Pour voir les informations relatives à un certificat SSL, il suffit de cliquer sur le cadenas et, en fonction des navigateurs, de cliquer sur le lien pour les afficher. Vous pouvez également par ce menu afficher les cookies utilisés et éventuellement bloquer les cookies de votre choix. Vous devez néanmoins savoir que l’arrêt de certains cookies peut altérer le bon fonctionnement de notre site.</p>


<h1>QU’EST-CE QU’UN COOKIE ?</h1>
<p>Un cookie (ou témoin de connexion) est un  fichier texte susceptible d’être stocké par votre navigateur sur votre terminal relié à Internet lors de la visite d’un site Internet. Le terminal contenant le cookie peut ainsi être identifié par l’émetteur durant sa durée de validité.</p>

<p>Les informations stockées portent notamment sur votre parcours du site visité afin de vous apporter un service additionnel, les publicités sur lesquelles vous avez cliqué, le type de navigateur que vous utilisez, les informations que vous avez saisies afin d’éviter de les ressaisir à nouveau et améliorer votre confort de navigation. Les cookies sont également utilisés pour optimiser la performance du site. Par d’exemple, ils facilitent votre navigation et vous aident à trouver un contenu spécifique plus rapidement, etc.</p>

<p>Seul l’émetteur d’un cookie est susceptible de lire ou de modifier des informations qui y sont contenues.</p>

<p>Les cookies que le site émet sont utilisés aux fins décrites ci-dessous.</p>

<h1>QUELLE EST LA DURÉE DE CONSERVATION DES COOKIES ?</h1>
<p>Les cookies ont une durée de validité de 13 mois.</p>

<p>Votre consentement sera de nouveau sollicité à l’issu de ce délai maximum par l’affichage du bandeau d’information quel que soit la page visité, ou à l’effacement du cache de votre navigateur avant la fin de cession de durée de validation.</p>

</div>




{% endblock %}