{% extends 'base.html.twig' %}


{% block body %}


{{ user }}

{% for evenement in evenements %}
    {{ evenement.nom }}
   <a href="{{ path ('details_evenement',{'id':evenement.id}) }}"><img src="{{ evenement.image }}" alt=""></a>


   
{% endfor %}





{% endblock %}
